/* You can add global styles to this file, and also import other style files */


.table-container {
    position: relative;
    height: 650px;
    overflow: scroll;
    overflow-y: visible;
}

table {
    margin: auto;
}

thead {
    padding: 10px 7px;
    border-bottom: 1px solid black;
    text-align: center;
}

td {
    padding: 7px;
    text-align: left;
}

.form-control {
    width: 250px;
}

input[type=number] {
    width: 40px;
}

.price {
    text-align: right;
}